<div class="home">
  <h1>Welcome to Empowernest</h1>
  <p>Your one-stop solution for all your needs.</p>
  <button routerLink="/signin">Get Started</button>
</div>
<div class="partners">
  <h2>Our Partners</h2>
  <ul>
    <li>Partner 1</li>
    <li>Partner 2</li>
    <li>Partner 3</li>
    <li>Partner 4</li>
  </ul>
</div>
<div class="testimonials">
  <h2>What Our Users Say</h2>
  <div class="testimonial">
    <p>"Empowernest has changed my life!"</p>
    <p>- User A</p>
  </div>
  <div class="testimonial">
    <p>"I love the community and support."</p>
    <p>- User B</p>
  </div>