<nav>
  <ul class="list-unstyled">
    <li><a routerLink="/{{role}}">Dashboard</a></li>
    <li><a routerLink="/{{role}}-courses">Courses</a></li>
    <li><a routerLink="/{{role}}-jobs">Jobs</a></li>
    <li><a routerLink="/{{role}}-applications">Applications</a></li>
    <li><a routerLink="/finance">Finance</a></li>
    <li><a routerLink="/{{role}}-profile">Profile</a></li>
    <li><a routerLink="/">Log Out</a></li>
  </ul>
</nav>
<!-- learner - apply for jobs, instructor - post jobs
 take courses, upload courses
 view application status, manage applicants -->
