<nav>
  <ul class="list-unstyled">
    <li><a routerLink="/learner">Dashboard</a></li>
    <li><a routerLink="/learner-courses">Courses</a></li>
    <li><a routerLink="/jobs-apply">Jobs</a></li>
    <li><a routerLink="/view-applications">Applications</a></li>
    <li><a routerLink="/finance">Finance</a></li>
    <li><a routerLink="/learner-profile">Profile</a></li>
    <li><a routerLink="/">Log Out</a></li>
  </ul>
</nav>
<!-- learner - apply for jobs, instructor - post jobs
 take courses, upload courses
 view application status, manage applicants -->
